.button {
  border-radius: 2px;
  border: none;
  width: 250px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 24px;
  padding: 12px 24px;
}

.button-primary {
  background-color: #ffff99;
  color: #2d3748e9;
  border: 1px solid #2d3748be;
  box-shadow: 0 10px 10px #b9e1ff;
}

.button-primary:hover {
  background-color: #b9e1ff;
  color: #2d3748e9;
  border: 1px solid #449f73fe;
  transform: translateY(-2px);
  opacity: 0.8;
  box-shadow: 0 10px 10px #ffff99;
}

.button-secondary {
  background-color: #b9e1ff;
  color: #2d3748df;
  border: 1px solid #449f73fe;
}

.button-secondary:hover {
  background-color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px #ffff99;
}

.button-small {
  margin: 0;
  padding: 6px;
  border-radius: 2px;
  border: none;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgba(206, 245, 249, 0.142);
  color: #07361fd7;
  border: 1px solid #449f73fe;
}

.button-small:hover {
  background-color: #b9e1ff;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px #ffff99;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
    padding: 16px 24px;
  }
}
