.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: rgba(233, 247, 245, 0.78);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.table .product-image {
  width: 50px;
}

.table tbody,
thead {
  font-family: 'Quicksand', sans-serif;
}

.table thead {
  background-color: rgb(206, 245, 249);
}

.table tbody td {
  padding: 5px 5px 5px 0;
}
