.filters-container {
  position: sticky;
  top: 0;
  z-index: 100;
}

.wrapper {
  background-color: #c7deef;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 10px;
}

.wrapper h3 {
  text-transform: uppercase;
  color: #2d3748d7;
}

.card {
  min-width: 100px;
  max-width: 150px;
  padding: 10px;
  text-align: center;
  color: #2d3748d7;
  cursor: pointer;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
  color: #10ab60fe;
}
