@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com" crossorigin');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Darumadrop+One&family=Quicksand:wght@300..700&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #c7deef6c;
  color: #2d3748;
  line-height: 1.6;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  width: 100%;
}

.navigation-logo,
.footer-logo {
  font-family: 'Cabin Sketch', sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin Sketch', sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
  font-family: 'Cabin Sketch', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

p,
input,
label,
nav a {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: #449f73fe;
  text-decoration: none;
}

a:hover {
  color: #0cc2c5;
  text-decoration: underline;
}
