@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com" crossorigin');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Darumadrop+One&family=Quicksand:wght@300..700&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #c7deef6c;
  color: #4a5568;
  line-height: 1.6;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin Sketch', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navigation-logo,
.footer-logo,
button,
label {
  font-family: 'Cabin Sketch', sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

p,
input,
textarea,
select {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a,
a:hover,
a:active {
  color: #07989b;
}

a:active {
  text-decoration: underline;
}
