.navigation {
  background-color: #c7deef;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

.navigation-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  font-size: 24px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  font-family: 'Cabin Sketch', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  color: #2d3748e9;
}

ul li a:hover {
  color: #07989b;
  text-decoration: none;
}

a:active {
  color: #07989b;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navigation-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation ul {
    flex-direction: column;
    margin-top: 1rem;
  }

  .navigation a {
    padding: 0.5rem 0;
  }
}
