.navigation {
  background-color: #c7deef;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

.navigation-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #2d3748f7;
}

.desktop-nav {
  display: flex;
}

.mobile-nav {
  display: none;
}

/* only in DesktopMenu.tsx: */
.desktop-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navigation a:not(.navigation-logo) {
  text-decoration: none;
  font-family: 'Cabin Sketch', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  color: #2d3748e9;
}

.navigation ul li a:hover {
  color: #07989b;
  text-decoration: none;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .navigation-container {
    display: flex;
    justify-content: space-between;
    text-align: end;
  }

  .navigation a {
    padding: 0.5rem 0;
  }

  .navigation-logo-container {
    width: 100%;
    text-align: left;
  }

  .navigation-logo {
    font-size: 17px;
  }

  .mobile-nav {
    display: block;
    position: relative;
    width: 100%;
  }

  .hamburger-icon {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #2d3748e9;
  }

  .mobile-menu {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1001;
    background: #c7deefca;
    list-style: none;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .mobile-menu button {
    width: 80px;
    padding: 6px;
  }
}
